<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predict - Admin Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loginstyle.css') }}"
    />
  </head>

  <body>
    <div class="login-dark">
      <form action="{{ url_for('admin') }}" method="post">
        <h2 class="sr-only">Admin Login Form</h2>
        <div class="illustration">
          <i class="icon ion-ios-locked-outline"></i>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            id="username"
            type="name"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Log In
          </button>
        </div>
        <p class="bottom" style="text-align: center">
          User?
          <br />
          <a class="bottom" href="login"> Click here</a>
        </p>
      </form>
    </div>
    <body>
  </body>
</html>
