<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tablestyle.css') }}"
    />
  </head>
  <body>
    <h1>
      <br />
      <span class="yellow">Displaying Records</span>
      <br />
    </h1>
    <br />
    <table class="container">
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for row in Result %}
        <tr>
          <td>{{row['id']}}</td>
          <td>{{row['username']}}</td>
          <td>{{row['password']}}</td>
          <td>{{row['email']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
